@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto sans", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

.btn {
    border: 0;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--primary);
    transition: background-color .3s;
    color: #FFF;
    font-size: 16px;
    border-radius: 10px;
    align-self: flex-end;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-light);
}

.inp {
    outline: none;
    border: 1px solid #CCC;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FFF;
}

/*animations*/

@keyframes appear {
    from {
        opacity: 0;
    }
}

@keyframes enterFromRight {
    from {
        transform: translateX(100%);
    }
}

@keyframes wave {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(50%);
    }
}


/*variables*/

:root {
    --primary: #12263A;
    --primary-light: #173450;
    --secondary: #274666;
    --secondary-light: #2c5074;
}