@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto sans", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/*variables*/

:root {
    --primary: #12263A;
    --primary-light: #173450;
    --secondary: #274666;
    --secondary-light: #2c5074;
}